<div class="main-wrap">
  <section id="intro">
    <div class="featured">
      <div class="wrapper">
        <div class="row-fluid">
          <!-- slider -->
          <div class="span12">
            <div class="topright">
               <button class="btn1" hreflang="jp" onclick="setLang('jp'); return false"></button>
               <!-- <button class="btn2" hreflang="mon" onclick="setLang('mon'); return false"></button> -->
               <button class="btn3" hreflang="eng" onclick="setLang('eng'); return false"></button>
            </div>  
            <div id="sequence-theme">
              <div id="sequence">
                <img class="prev" src="assets/img/slides/bt-prev.png" alt="Previous Frame" />
                <img class="next" src="assets/img/slides/bt-next.png" alt="Next Frame" />
                <ul>
                 <!--  <li class="animate-in">
                    <h2 class="title" >Barilga.mn</h2>
                    <h5 class="subtitle" lang = "jp">モンゴルの建設ニュース第1号</h5>
                    <h5 class="subtitle" lang="mon">Mонголын барилгын салбарын №1 мэдээллийн хэрэгсэл Барилга.мн</h5>
                    <h5 class="subtitle" lang = "eng">Building Construction No. 1 of Mongolia Construction News</h5>
                    <img class="model" src="assets/img/slides/img1.png" alt="" />
                  </li> -->
                  <li class="animate-in">
                    <h2 class="title" >D2J Direct</h2>
                    <h5 class="subtitle" lang = 'jp'>国際スピーチアプリ</h5>
                    <h5 class="subtitle" lang="mon">олон улсын ярианы апп</h5>
                    <h5 class="subtitle" lang = 'eng'>international speech app</h5>
                    <img class="model" src="assets/img/slides/img2.png" alt="" />
                  </li>
                  <li>
                    <h2 class="title">DJ Tube</h2>
                    <h5 class="subtitle" lang="jp">新しくて刺激的な何かを聞きたいですか？</h5>
                    <h5 class="subtitle" lang="mon">Арай өөр, шинийг сонсмоор байна уу?</h5>
                    <h5 class="subtitle" lang="eng">Do you want to hear something new and exciting?</h5>
                    <img class="model" src="assets/img/slides/img3.png" alt="" />
                  </li>
                  <li>
                    <h2 class="title">Papaz</h2>
                    <h5 class="subtitle" lang="jp">あなたの日常生活の写真を撮り、他の人に何をすべきかを見せるために？</h5>
                    <h5 class="subtitle" lang="mon">таны өдөр тутмын амьдралд зургийг аваад бусдад харуулмаар тохиолдол байдaг уу?</h5>
                    <h5 class="subtitle" lang="eng">to take pictures of your everyday life and to show others what to do?</h5>
                    <img class="model" src="assets/img/slides/img4.png" alt="" />
                  </li>
                </ul>
              </div>
              <ul class="nav">
                <!-- <li><img src="assets/img/slides/thumb1.png" alt="Thumbnail" /></li> -->
                <li><img src="assets/img/slides/thumb2.png" alt="Thumbnail" /></li>
                <li><img src="assets/img/slides/thumb3.png" alt="Thumbnail" /></li>
                <li><img src="assets/img/slides/thumb4.png" alt="Thumbnail" /></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </section>
</div> 