<!DOCTYPE HTML>
<html>
<head>
  {% include head.html %}
  <style type="text/css">
      img.dev{
        width: 150px;
        margin-right: 50px;
      }
    /*  .dev:hover{
        width: 156px;
      }*/
  </style>
</head>
<body>
    {% include header.html %} 
    <div id="services" class="parallax section lb">
        <div class="container">
            <div class="section-title text-center">
                <h3 lang="eng">executed projects</h3>
                <h3 lang="mon">гүйцэтгэсэн төслүүд</h3>
                <h3 lang="jp">実行されたプロジェクト</h3>
            </div><!-- end title -->
            <div class="owl-services owl-carousel owl-theme">
            {{ content}}
            </div><!-- end row -->
           <div class=" text-center" >
          <h3 lang="eng">Authorized distributor</h3>
          <h3 lang="mon">Итгэмжлэгдсэн худалдааны төлөөлөгч</h3>
          <h3 lang="jp">正規代理店販売</h3>
          <table class="tableth">
            {% for authorized in site.data.authorized %}  
            <th {{ authorized.ink }} {{ authorized.thstyle }}>
               <a href="{{ authorized.imagelink }}" {{authorized.styles}}> <img class="dev" src="{{ authorized.imageUrl }}" ></a>
            </th>
             {% endfor %}
          </table>
        </div><!-- end title -->
        <hr class="hr1">
        </div><!-- end container -->
    </div><!-- end section -->
  {% include footer.html %}
</body>
</html>

